footer {
  padding-top: 2rem;
  padding-bottom: 7rem;
  background: var(--footer-bg);
  border-top: 0.1rem solid var(--border);
  font-family: 'Inter', sans-serif;
}

footer .copyright {
  display: flex;
  align-items: center;
}

.footer .copyright h3 {
  margin-bottom: 2rem;
}

.footer-links {
  padding-left: 5rem;
}

footer h4 {
  margin-bottom: 1rem;
}

footer img {
  margin-right: 1rem;
}

footer li {
  margin-bottom: 1rem;
}

footer li a {
  font-size: 1.5rem;
  color: var(--footer-text);
  transition: 300ms;
}

footer li a:hover {
  color: var(--white);
}

@media only screen and (max-width: 767px) {
  footer {
    padding-bottom: 2rem;
  }
}
.ficon{
  display: flex;
  gap: 10px;
}